{% extends "base.html" %}

{% block main %}
  <div class="mb-3">
    <form method="post" class="form-inline">
      {{ add_form.csrf_token }}
      <div class="form-group mr-2">
        {{ add_form.ticker(class="form-control") }}
      </div>
      {{ add_form.submit(class="btn btn-primary") }}
    </form>
  </div>

  <table class="table table-sm table-bordered">
    <thead class="thead-light">
      <tr>
        <th style="width:30%">Ticker</th>
        <th style="width:15%">P/E ratio</th>
        <th style="width:15%">PEG</th>
        <th style="width:15%">ROE</th>
        <th style="width:15%">Risk</th>
        <th style="width:10%"></th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
      <tr>
        <td>{{ task.ticker }}</td>
        <td>{% if task.pe_ratio is not none %}{{ '%.4f'|format(task.pe_ratio) }}{% endif %}</td>
        <td>{% if task.peg is not none %}{{ '%.4f'|format(task.peg) }}{% endif %}</td>
        <td>{% if task.roe is not none %}{{ '%.4f'|format(task.roe) }}{% endif %}</td>
        <td>{% if task.risk is not none %}{{ '%.6f'|format(task.risk) }}{% endif %}</td>
        <td>
          <form method="post" style="display:inline-block;">
            {{ delete_forms[task.id].csrf_token }}
            {{ delete_forms[task.id].submit(class='btn btn-danger btn-sm') }}
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
